@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700i|Playfair+Display:400,700');

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

body {
	background-color: #D0EBFF;
	text-align: center;
	font-family: 'Josefin Sans';
	background-image: url("http://i.imgur.com/VLD5ygj.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	text-size: 25px;
}
img {
	display: block;
	margin: 0 auto;
}
p {
	color: #4B86B2;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
	text-align: center;
}
h1 {
	text-align: center;
	color: #75C4FF;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
	text-decoration: underline;
	font-size: 3em;
}
h2 {
	text-align: center;
	color: #4B86B2;
	font-family: 'Josefin Sans', sans-serif;
}
h3 {
	text-align: center;
	color: #FFCC80;
	font-family: 'Playfair Display', serif;
	font-weight: lighter;
}
footer {
	text-align: center;
	padding: 1em 0;
	clear: both;
}
nav {
	clear: both;
}
a:link {
	color: #4B86B2;
	background-color: transparent;
}
a:visited {
	color: #75C4FF;
	background-color: transparent;
}
a:hover{
	color: #FFFFFF;
	background-color: transparent;
}
a:active {
	color: #FFFFFF;
	background-color: transparent;
}
section a {
	display: inline-block;
}
#things {
	text-align: center;
	color: #75C4FF;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}
.lines {
	color: #75C4FF;
}
#contact {
	color: #75C4FF;
	text-align: center;
}
.boxes {
	float: left;
}
.info {
	font-family: 'Josefin Sans';
	text-align: center;
	font-weight: lighter;
	color: #B2A693;
	font-size: 18px;
	max-width: 500px;
	margin: 0 auto;
}
.about-img {
max-width: 300px;
margin: 0 auto;
}
.social {
	font-size: 2em;
}
.about {
	
}
.photo {
	
}
.design {
	
}
.editorial {
	
}
.blog {
	
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
     float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 30%;
}